.main-outer{
    width: 100%;
    height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desktop-view {

    -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 50px;
  background: #1f86ba;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
    margin-right: 20px;
}

.desktop-view:hover {
    background: #b7e309;
    text-decoration: none;
    cursor: pointer;
}

.mobile-view{
    -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 50px;
  background: #2eb349;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
    margin-left: 20px;
 
}

.mobile-view:hover{
    background: #c22d70;
    text-decoration: none;
    cursor: pointer;
}